body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #161616;
    background-image: url('background.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.blocks {
    width: 600px;
}

.block {
    background-color: #2424249a;
    color: white;
    padding: 30px;
    /* width: 300px;
    height: 300px; */
    border: 2px solid cyan;
    margin: 10px;
    box-shadow: 0 0 5px cyan;
}

.block:hover {
    background-color:#1d1d1d80;
    box-shadow: 0 0 10px white;
}

.block-header {
    color: cyan;
    font-size: 18pt;
    text-align: center;
}

.block-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-bottom: 20px;
}

.project-description {
    text-align: center;
}

.imagelist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagelist-item {
    margin: 10px 15px;
}

.imagelist-item > div {
    text-align: center;
}

.imagelist-item > img {
    width: 80px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}
.button {
    cursor: pointer;
    padding: 10px 20px;
    margin: 20px 15px;
    border: 2px solid;
}
.button:hover {
    box-shadow: 0 0 5px white;
}

.button-github {
    color: white;
    border-color: white;
    display: flex;
    justify-content: center;
}

.button-github > img {
    width: 20px;
    margin-right: 15px;
}

.button-demo {
    color: cyan;
    border-color: cyan;
}

@media only screen and (max-width: 600px) {
    .blocks {
        width: 100%;
    }

    .imagelist-item > img {
        width: 50px;
    }

    .buttons {
        flex-direction: column;
        margin-top: 20px;
    }

    .button {
        margin: 10px;
    }
}